<!DOCTYPE html>
<html>
    <head>
        <title>Tempest Fugit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="TF_Styles.css">
        <!-- <script src="{% static 'scripts/TempusFugitScripts.js' %}"></script> -->
    </head>
    <body>
        <h1 id="demo"></h1>
        <div style="left: 30px; position: absolute;">
            <div class="row" style="color: white;">
                <div class="col-md-2" style="background-color:#75aed7; font-size: medium">To Do List</div>
                <div class="col-sm-1"> <button type="button" style=" color:black; font-size: small" onclick="newRow()">add to list</button></div>
                <div id = "left" class="col-sm-1"> <button type="button" style=" color:black; font-size: small" > < </button></div>
                <div id = "year" class="col-sm-2" style="background-color:#75aed7; font-size: medium">April 2018</div>
                <div id = "right" class="col-sm-1"> <button type="button" style=" color:black; font-size: small"> > </button></div>
                <div id = "view" class="col-sm-1"> <button type="button" style="background-color: white; color:black; font-size: small">Month</button></div>
            </div>
            <div class="row" style="color: white;">
                <div class="col-md-3" style="background-color:white; height: 380px; overflow: auto;">
                    <table id ="ToDoTable" class="table table-striped" style="color:black;">
                        <tbody>
                            <tr id ="row0" onclick="clickRow(this)">
                                <th>Walk Dog</th>
                            </tr>
                            <tr id ="row1" onclick="clickRow(this)">
                                <th>Cut hair</th>
                            </tr>
                            <tr id ="row2" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row3" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row4" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row5" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row6" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row7" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row8" onclick="clickRow(this)"><td><br/></td></tr>
                            <tr id ="row9" onclick="clickRow(this)"><td><br/></td></tr>
                            <!--<tr><td><br/></td></tr>
                            <tr><td><br/></td></tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <img id="calView" src="images/calendar.png" class="Responsive image">
                </div>
             </div>
            </div>
        </div>
        <div style="left: 15px; top:450px; position: absolute;">
            <img src="images/mini-calendar.png" class="Responsive image" style="height: 300px; width: 290px">
        </div>
        <script

        >
            var year = 2018;
            var month = "April";
            var calview = "Month";
            var rowNum = 2;
            document.getElementById("left").onclick = function () {
                if(calview == "Month")
                {
                    if(month == "January"){
                        month = "December"
                        year --
                    }
                    else if(month == "February")
                    {
                        month = "January"
                    }
                    else if(month == "March")
                    {
                        month = "February"
                    }
                    else if(month == "April")
                    {
                        month = "March"
                    }
                    else if(month == "May")
                    {
                        month = "April"
                    }
                    else if(month == "June")
                    {
                        month = "May"
                    }
                    else if(month == "July")
                    {
                        month = "June"
                    }
                    else if(month == "August")
                    {
                        month = "July"
                    }
                    else if(month == "September")
                    {
                        month = "August"
                    }
                    else if(month == "October")
                    {
                        month = "September"
                    }
                    else if(month == "November")
                    {
                        month = "October"
                    }
                    else if(month == "December")
                    {
                        month = "November"
                    }
                }
                document.getElementById("year").innerHTML = month + " " + year;
            };

            document.getElementById("right").onclick = function () {
                if(calview == "Month")
                {
                    if(month == "January"){
                        month = "February"
                    }
                    else if(month == "February")
                    {
                        month = "March"
                    }
                    else if(month == "March")
                    {
                        month = "April"
                    }
                    else if(month == "April")
                    {
                        month = "May"
                    }
                    else if(month == "May")
                    {
                        month = "June"
                    }
                    else if(month == "June")
                    {
                        month = "July"
                    }
                    else if(month == "July")
                    {
                        month = "August"
                    }
                    else if(month == "August")
                    {
                        month = "September"
                    }
                    else if(month == "September")
                    {
                        month = "October"
                    }
                    else if(month == "October")
                    {
                        month = "November"
                    }
                    else if(month == "November")
                    {
                        month = "December"
                    }
                    else if(month == "December")
                    {
                        month = "January"
                        year++
                    }
                }
                document.getElementById("year").innerHTML = month + " " + year;
            };

            document.getElementById("view").onclick = function () {

                if(calview == "Month")
                {
                    document.getElementById("view").innerText = "Week";
                    calview = "Week"
                    document.getElementById("calView").src="images/week.png";
                }
                else if(calview == "Week")
                {
                  document.getElementById("view").innerText = "Day";
                  calview = "Day"
                    document.getElementById("calView").src="images/day.png";
                }
                else if(calview == "Day")
                {
                  document.getElementById("view").innerText = "Month";
                  calview = "Month"
                    document.getElementById("calView").src="images/calendar.png";
                }
                document.getElementById("view").style.color = "black"
                document.getElementById("view").style.backgroundColor = "white"

            };

            function clickRow(id)
            {
                alert(id.innerText);
            }

            function newRow()
            {
                if(rowNum <= 9)
                {
                    var id = "row" + rowNum;
                    var tr = document.getElementById(id);
                    var theRow  = "<th>New Row " + rowNum + "</th>";
                    tr.insertCell(0).outerHTML = theRow;
                    rowNum++;
                }
                else
                {

                    var table = document.getElementById(ToDoTable);
                }

            }



        </script>
    </body>
</html>

