<!DOCTYPE html>
<html>
    <head>
        <title>Tempest Fugit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="blog.css">
        <!-- <script src="{% static 'scripts/TempusFugitScripts.js' %}"></script> -->
    </head>
    <body>
        <h1 id="demo"></h1>
        <div style="left: 30px; position: absolute;">
            <div class="row" style="color: white;">
                <div class="col-md-2" style="background-color:blue; font-size: medium">To Do List</div>
                <div class="col-sm-1"> <button type="button" style=" color:black; font-size: small">add to list</button></div>
                <div id = "left" class="col-sm-1"> <button type="button" style=" color:black; font-size: small"> < </button></div>
                <div id = "year" class="col-sm-2" style="background-color:blue; font-size: medium">April 2018</div>
                <div id = "right" class="col-sm-1"> <button type="button" style=" color:black; font-size: small"> > </button></div>
                <div id = "view" class="col-sm-1"> <button type="button" style="background-color: white; color:black; font-size: small">Month</button></div>
            </div>
            <div class="row" style="color: white;">
                <div class="col-md-3" style="background-color:white;">
                    <table class="table" style="color:black;">
                        <tbody>
                            <tr>
                                <th>Walk Dog</th>
                            </tr>
                            <tr>
                                <th>Cut hair</th>
                            </tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                            <tr><td><br/></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <img id="calView" src="images/calendar.png" class="Responsive image">
                </div>
             </div>
            </div>
        </div>
        <div style="left: 10px; top:550px; position: absolute;">
            <img src="images/mini-calendar.png" class="Responsive image">
        </div>
        <script

        >
            var year = 2018
            var calview = "Month"
            document.getElementById("left").onclick = function () {
                year--
                document.getElementById("year").innerHTML = "April " + year;
            };

            document.getElementById("right").onclick = function () {
                year++
                document.getElementById("year").innerHTML = "April " + year;
            };

            document.getElementById("view").onclick = function () {

                if(calview == "Month")
                {
                    document.getElementById("view").innerText = "Week";
                    calview = "Week"
                    document.getElementById("calView").src="images/week.png";
                }
                else if(calview == "Week")
                {
                  document.getElementById("view").innerText = "Day";
                  calview = "Day"
                    document.getElementById("calView").src="images/day.png";
                }
                else if(calview == "Day")
                {
                  document.getElementById("view").innerText = "Month";
                  calview = "Month"
                    document.getElementById("calView").src="images/calendar.png";
                }

            };



        </script>
    </body>
</html>

